#hero {
  background-image: url("/images/hero-backer.jpg");
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px;
  color: white;
}

#acrobats {
  background-image: url("/images/dear-san-francisco-high-flying-love-story.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#food {
  background-image: url("/images/crab-house.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#prizes {
  background-image: url("/images/prize-backer.jpg");
  min-height: 25vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#prizes {
  color: white;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.75em;
  font-weight: 300;
}

#prizes div {
  padding: 10px 75px;
}

#prizes .header {
  padding: 10px 110px;
  font-size: 0.8em;
}

#prizes .lighten {
  background-color: rgba(255, 255, 255, 0.125);
}

#food,
#acrobats {
  height: 50vw;
}

@media screen and (min-width: 576px) {
  #food,
  #acrobats {
    height: 50vw;
  }
}

@media screen and (min-width: 768px) {
  #food,
  #acrobats {
    height: 50vw;
  }
}

@media screen and (min-width: 992px) {
  #food,
  #acrobats {
    height: 25vw;
  }
}

img {
  max-width: 100%;
}

#hero p {
  margin: 20px auto 30px;
  text-align: center;
}

@media screen and (min-width: 992px) {
  #hero p {
    max-width: 80%;
  }
}

#hero p.small {
  font-size: 0.7em;
  font-weight: 200;
}

#hero p a {
  color: white;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

input {
  padding: 7px 20px;
  font-weight: 400;
  margin: 10px 10px 0px;
  letter-spacing: 2px;
  border: none;
}

input[type="submit"] {
  background-color: black;
  border: none;
  padding: 7px 20px;
  margin: 10px 10px 0px;
  font-weight: 400;
  letter-spacing: 2px;
}

form.thank-you input {
  width: 100%;
  display: block;
}
